<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreateTunnel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <ul class="Nav">
        <li class="Nav"><a href="/">Tunnels</a></li>
        <li class="Nav"><a href="{{ url_for('CreateTunnel') }}">Create Tunnel</a></li>
        <li class="Nav"><a href="{{ url_for('RemoveTunnel') }}">Remove Tunnel</a></li>
        <li class="Nav"><a href="{{ url_for('CloudFlaredRestart') }}">CloudFlared Restart</a></li>
    </ul>
    <table id="t01">
        <tr>
            <th>Domain</th>
            <th>Service</th>
        </tr>
        {% for item in items %}
        <tr>
        <td class="c1">{{item.domain}}</td>
        <td class="c2">{{item.service}}</td>
        </tr>
        {% endfor %}
    </table>
    <form action="{{ url_for('CreatedTunnel')}}" method="post" class="CreateTunnelFormParent">
        <div class="form-style-6"><p>New Tunnel</p></div>
        <div class="form-style-6">
            <input name="subdomain" type="text" id="projectFilepath"placeholder="subdomain">
            .
            <select name="RootDomains" id="">
                {% for i in RootDomain %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
        </div>
        <br>
        <div class="form-style-6">
            <select name="ProtocolSelect" id="">
                {% for i in Protocols %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
            <input name="application" type="text" id="projectFilepath" placeholder="service">
            :
            <input name="Port" type="number" id="projectFilepath" size="5" placeholder="Port">
        </div>
        <br>
        <div class="form-style-6">
            <label for="disable TLS Verify"> Disable TLS Verify: </label>
            <input type="checkbox" id="Disable TLS Verify" name="Disable TLS Verify" value="Disable TLS Verify">
        </div>
        <br>
        <div class="form-style-6">
            <input type="submit">
        </div>
    </form>
</body>
</html>